#turma {
	background-color: aqua;
	width: 250px;
	height: 250px;
	text-align: center;
	margin-top: 10px;	
	border-radius: 11%;
	border:  black solid;
	padding: 10px 0px 30px 0px;
}
li:hover {
	background-color: brown;
	transition-duration: 3s;	
}